/** susk-detail */

pre{
	margin:0;
}

#ui-datepicker-div{
	display:none;
}

button, #submit, .button{
	cursor: pointer;
	clear: both;
	border: 1px solid #DBD3C2;
	font-weight: bold;
	background-color: #CE1126;
	line-height: 2em;
	color:white;
	padding:3px 20px
}
button:hover, #submit:hover, .button:hover{
	border-color: #DBD3C2;
	background-color: #12416C;
}

#newUnitTest, #comfirmPopup, #newAssessment {
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	min-width: 450px;
	padding: 25px;
}

#comfirmPopup{
	min-width: 0px;
}

.bClose {
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
	background-color: #CE1126;
	color:white;
	cursor: pointer;
}

#dialog-overlay {

	/* set it to fill the whole screen */
	width:100%; 
	height:100%;
	
	/* transparency for different browsers */
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 
	margin:auto;

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute; 
	top:0; left:0; 
	z-index:3000; 

	/* hide it by default */
	display:none;
}


#dialog-box {
	
	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	
	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	width:328px; 
	
	/* make sure it has the highest z-index */
	position:absolute; 
	z-index:5000; 

	/* hide it by default */
	display:none;
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left; 
	padding:10px; 
	margin:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:50px;
}

.susk-detail {
	margin: 0 auto;
	padding: 15px;
	border: solid 1px #DBD3C2;
	background: #FDFCDE;
}

.pastaTable{
	width:90%;
}

.pastaShortTable{
	border: 1px;
	padding:0px;
	margin:0px;
}

.pastaShortTable td{
	width:1.5em;
	height:2em;
}

.pastaTable td {
	text-align:center;
}

.pastaTF, .pastaUnitTestResult {
	font-weight: bold;
	text-transform: uppercase;
}

.pastaUnitTestResultpass, .pastaTFtrue {
	color:#0C0;
}

.pastaUnitTestBoxResultpass {
	background-color:#0C0;
	height:100%;
	width:100%;
}

.pastaUnitTestResulterror, .pastaUnitTestResultfailure, .pastaTFfalse{
	color:red;
}

.susk-detail label {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
	width: 140px;
	float: left;
}

.susk-detail span {
	display: block;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
}

.susk-detail-clear {
	clear: both;
	height: 1px;
}

/** Susk-form */
.susk-form {
	margin: 0 auto;
	padding: 15px;
	border: solid 1px #DBD3C2;
	background: #FDFCDE;
}

.susk-form p,.susk-form form,.susk-form button {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.susk-form-clear {
	clear: both;
	height: 1px;
}

.susk-form form>p {
	font-size: 0.7em;
	color: #545456;
	margin-bottom: 20px;
	border-bottom: solid 1px #BBBBBB;
	padding-bottom: 10px;
}

.susk-form-h1, .susk-detail-h1 {
	font-size: 1.5em;
	color: #CE1126;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.susk-form .small {
	font-size: 0.65em;
}

.susk-form label {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
	width: 140px;
	float: left;
}

input[type=radio].susk-radio {
    float: left;
    margin: 0px 5px 0px 0px !important;
    width: auto !important;
}

label.susk-radio {
    margin-bottom: 5px;
    width: auto !important;
}


.susk-form-radio {
	margin-left: 150px;
}

.susk-form-radio label {
	float: none;
	width: auto;
	line-height: 16px;
}

.susk-form input,.susk-form textarea,.susk-form select {
	padding: 4px 2px;
	border: solid 1px #DDDDDD;
	margin: 2px 0 20px 10px;
	font-size: 12px;
	margin-right: 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

.susk-form input {
	width: 300px;
}

.susk-form button {
	cursor: pointer;
	clear: both;
	border: 1px solid #DBD3C2;
	margin-left: 150px;
	width: 125px;
	height: 2em;
	font-weight: bold;
	background-color: #CE1126;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-align: center;
}

.susk-form button:hover {
	border-color: #DBD3C2;
	background-color: #12416C;
}

/** Errors */

.susk-form .susk-form-errors,
.susk-form .susk-form-error {
	color: #CE1126;
	font-size: 1.1em;
	line-height: 2em;
	float: left;
}

/** Susk Info Bar */

.susk-info-bar {
	background-color: #fffff4;
	border: 1px solid #999999;
	padding: 0.25em;
	margin-bottom: 0.65em;
}

.susk-info-bar .image {
	background-image: url("../images/icons/24x24/info.png");
	margin-right: 0.25em;
	width: 24px;
	height: 24px;
	float: left;
}

.susk-info-bar .message {
	margin: 0px !important;
	line-height: 2em !important;
}

.susk-info-bar.warning {
	color: #F5AF00;
	border-color: #FDEBC5;
}

.susk-info-bar.warning .image {
	background-image: url("../images/icons/24x24/warning.png");
}

.susk-info-bar.success {
	color: #6dc80d;
	border-color: #6dc80d;
}

.susk-info-bar.success .image {
	background-image: url("../images/icons/24x24/accept.png");
}

.susk-info-bar.error {
	color: #CE1126;
	border-color: #CE1126;
}

.susk-info-bar.error .image {
	background-image: url("../images/icons/24x24/warning_red.png");
}

/* Required */

.star-required {
	color: #CE1126;
}

/* susk-toolbar */

.susk-toolbar {
	line-height: 2em;
}

.susk-toolbar a {
	font-size: 12px;
}