<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
           http://www.springframework.org/schema/task  
           http://www.springframework.org/schema/task/spring-task-3.0.xsd">
           
	<bean 
	class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<list>
				<value>WEB-INF/classes/database.properties</value>
				<value>WEB-INF/classes/project.properties</value>
			</list>
		</property>
	</bean>
	           

    <bean id="projectProperties" class="pasta.util.ProjectProperties">
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.String">
					<entry key="location" value="${project.location}" />
					<entry key="authentication" value="${project.authentication:ldap}" />
					<entry key="createAccountOnSuccessfulLogin" value="${project.createAccountOnSuccessfulLogin:true}" />
					<entry key="pathUnitTests" value="${project.pathUnitTests:}" />
					<entry key="pathSubmissions" value="${project.pathSubmissions:}" />
					<entry key="pathCompetitions" value="${project.pathCompetitions:}" />
					<entry key="proxydomain" value="${project.proxydomain:}" />
					<entry key="proxyport" value="${project.proxyport:}" />
			</map>
		</constructor-arg>
	</bean>
	
	<bean id="dataSource" 
	         class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- Hibernate session factory -->
	<bean id="sessionFactory" 
	class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	    <property name="dataSource">
	      <ref bean="dataSource"/>
	    </property>
	 
	    <property name="hibernateProperties">
	       <props>
	         <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	         <prop key="hibernate.show_sql">false</prop>
	         <prop key="hibernate.hbm2ddl.auto">update</prop>
	       </props>
	    </property>
	 
	    <property name="annotatedClasses">
			<list>
				<value>pasta.scheduler.AssessmentJob</value>
				<value>pasta.scheduler.CompetitionJob</value>
				<value>pasta.scheduler.Job</value>
				<value>pasta.domain.PASTALoginUser</value>
				<value>pasta.domain.PASTAPlayer</value>
				<value>pasta.domain.PASTATime</value>
				<value>pasta.domain.players.PlayerHistory</value>
				<value>pasta.domain.players.PlayerResult</value>
				<value>pasta.domain.ratings.AssessmentRating</value>
				<value>pasta.domain.release.ClassRule</value>
				<value>pasta.domain.release.DateRule</value>
				<value>pasta.domain.release.HasSubmittedRule</value>
				<value>pasta.domain.release.MarkCompareRule</value>
				<value>pasta.domain.release.ReleaseAllResultsRule</value>
				<value>pasta.domain.release.ReleaseAndRule</value>
				<value>pasta.domain.release.ReleaseOrRule</value>
				<value>pasta.domain.release.ReleaseResultsRule</value>
				<value>pasta.domain.release.ReleaseRule</value>
				<value>pasta.domain.release.StreamRule</value>
				<value>pasta.domain.release.SubmissionCountRule</value>
				<value>pasta.domain.release.UsernameRule</value>
				<value>pasta.domain.result.AssessmentResult</value>
				<value>pasta.domain.result.CompetitionMarks</value>
				<value>pasta.domain.result.CompetitionPosition</value>
				<value>pasta.domain.result.CompetitionResult</value>
				<value>pasta.domain.result.CompetitionResultData</value>
				<value>pasta.domain.result.HandMarkingResult</value>
				<value>pasta.domain.result.UnitTestCaseResult</value>
				<value>pasta.domain.result.UnitTestResult</value>
				<value>pasta.domain.template.Arena</value>
				<value>pasta.domain.template.Assessment</value>
				<value>pasta.domain.template.BlackBoxTest</value>
				<value>pasta.domain.template.BlackBoxTestCase</value>
				<value>pasta.domain.template.Competition</value>
				<value>pasta.domain.template.HandMarkData</value>
				<value>pasta.domain.template.HandMarking</value>
				<value>pasta.domain.template.UnitTest</value>
				<value>pasta.domain.template.WeightedCompetition</value>
				<value>pasta.domain.template.WeightedField</value>
				<value>pasta.domain.template.WeightedHandMarking</value>
				<value>pasta.domain.template.WeightedUnitTest</value>
				<value>pasta.domain.user.PASTAGroup</value>
				<value>pasta.domain.user.PASTAUser</value>
			</list>
	    </property>
    </bean>
	           
    <bean id="messageSource"
           class="org.springframework.context.support.ResourceBundleMessageSource">
           <property name="basename" value="messages" />
    </bean>

    <context:component-scan base-package="pasta.repository" />
    <context:component-scan base-package="pasta.login" />		 
    <context:component-scan base-package="pasta.service" />
    <context:component-scan base-package="pasta.scheduler" />
    <context:component-scan base-package="pasta.domain" />
    <context:component-scan base-package="pasta.util" />
    
    <bean id="assessmentManager" class="pasta.service.AssessmentManager" />
    <bean id="competitionManager" class="pasta.service.CompetitionManager" />
    <bean id="executionManager" class="pasta.service.ExecutionManager" />
    <bean id="handMarkingManager" class="pasta.service.HandMarkingManager" />
    <bean id="mossManager" class="pasta.service.MossManager" />
    <bean id="submissionManager" class="pasta.service.SubmissionManager" />
    <bean id="unitTestManager" class="pasta.service.UnitTestManager" />
    <bean id="userManager" class="pasta.service.UserManager" />
    
    <context:component-scan base-package="pasta.service"/>
	<task:annotation-driven />
</beans>