body {
	font: normal 14px Arial, Helvetica, sans-serif;
	padding: 0 10%;
	background: #f5f5f5;
	color: #333;
}

a {
	color: #DC740E;
	text-decoration: none;
}
/* a:visited { */
/* 	color: #AC5500; */
/* } */
a:hover {
	color: #EDA054;
}

button, input[type="submit"] {
	padding: 0.7em 0.8em;
	color: white;
	background-color: #DC740E;
	transition: background 0.2s, box-shadow 0.2s;
	cursor: pointer;
	border: 1px solid black;
	border: none;
	font-size: 14px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2),
				0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
button:hover,
input[type="submit"]:hover {
	background-color: #EDA054;
}
button.flat,
input[type="submit"].flat {
	background: none;
	box-shadow: none;
}
button.secondary,
input[type="submit"].secondary {
	background-color: white;
}
button.secondary, button.flat,
input[type="submit"].secondary, input[type="submit"].flat {
	color: #DC740E;
}
button.secondary:hover, button.flat:hover,
input[type="submit"].secondary:hover, input[type="submit"].flat:hover {
	background-color: #EEE;
}
button.floating,
input[type="submit"].floating {
	position: fixed;
	height: 56px;
	width: 56px;
	border-radius: 28px;
	right: 30px;
	bottom: 30px;
	padding: 0;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
button.floating.plus:before {
	content: "+";
}
button.floating.plus {
	font-size: 38px;
	padding-bottom: 8px;
}

.large-text {
	font-size: 1.2em;
}
.larger-text {
	font-size: 1.3em;
}
.top-align {
	vertical-align: top;
}

.part .button-panel:not(:first-child) {
	margin-top: 1em;
}
.section > .button-panel {
	padding: 1em;
}
.button-panel > button,
.button-panel > input[type=submit] {
	padding: 0.6em 0.8em;
}
.button-panel > button:not(:first-child),
.button-panel > input[type=submit]:not(:first-child) {
	margin-left: 0.4em;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

div.section {
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	margin: 3px 6px 6px 3px;
	background-color: white;
}
div.section:not(:last-child) {
	margin-bottom: 1.5em;
}
.section-title {
	margin: 0px;
	padding-top: 0.8em;
	padding-left: 0.8em;
	margin-bottom: 0.5em;
}
.section-title > h1, .section-title > h2, .section-title > h3, .section-title > h4, .section-title > h5, .section-title > h6 {
	margin: 0px;
}

div.part {
	padding: 1em;
}
div.part:not(.no-line):not(:last-child) {
	border-bottom: 1px solid lightgray;
}
div.part.no-line:not(:last-child) {
	padding-bottom: 0.5em;
}
div.part.no-line + div.part.no-line {
	padding-top: 0.5em;
}
.part-title {
	margin: 0px;
	margin-bottom: 0.3em;
}
.part-title > h1, .part-title > h2, .part-title > h3, .part-title > h4, .part-title > h5, .part-title > h6 {
	margin: 0px;
}

.part.row > div.button-panel {
	float: right;
	margin: 0;
	margin-left: auto;
}
.part.row:after {
	content: "";
	display: table;
	clear: both;
}
.part.row {
	display: flex;
	align-items: center;
	padding: 0.7em;
}

.ip-item:not(:first-child) {
	margin-top: 0.5em;
}
.ip-label {
	font-weight: bold;
	margin-bottom: 0.25em;
}

/* TODO: made these values reactively smaller*/
.pasta-form {
	width: 600px;
}
.pasta-form.wide {
	width: 800px;
}
.pasta-form.narrow {
	width: 400px;
}

.pf-section:not(:first-child) {
	padding-top: 1em;
	border-top: 1px solid lightgray;
}
.pf-section:not(:last-child) {
	padding-bottom: 1em;
}
.pf-section-title, .pf-section-title h1, .pf-section-title h2, .pf-section-title h3, .pf-section-title h4, .pf-section-title h5, .pf-section-title h6 {
	margin: 0;
}
.pf-section-title > * {
	display: inline-block;
}
.pf-section-title {
	margin-bottom: 0.5em;
}
.pf-horizontal:after {
	content: "";
	display: table;
	clear: both;
}
.pf-horizontal .pf-item {
	float: left;
}
.pf-horizontal > .pf-item + .pf-item{
	margin-left: 1em;
}
.pf-horizontal.one-col .pf-item, .pf-item.one-col {
	width: 100%;
	width: calc(100%);
}
.pf-horizontal.two-col .pf-item {
	width: 45%;
	width: calc(50% - 0.5em);
}
.pf-horizontal.three-col .pf-item {
	width: 30%;
	width: calc(33.33% - 0.6666em);
}
.pf-horizontal.four-col .pf-item {
	width: 22.5%;
	width: calc(25% - 0.75em);
}
:not(.pf-horizontal) > .pf-item:not(:first-child), 
.pf-horizontal + .pf-horizontal, 
.pf-item + .pf-horizontal {
	padding-top: 0.7em;
}
.pf-label + .pf-input {
	margin-top: 0.25em;
}
.pf-label {
	min-height: 1.2em;
}
.pasta-form input[type="text"],
.pasta-form input[type="password"],
.pasta-form textarea,
.pasta-form input[type="number"] {
	border: none;
	background-color: #FFECD9;
	font-size: 13px;
	padding: 0.8em;
}
.pasta-form input[type="text"]:disabled,
.pasta-form input[type="password"]:disabled,
.pasta-form textarea:disabled,
.pasta-form input[type="number"]:disabled {
	color: #999;
	background-color: #EEE;
}
.pf-horizontal input[type="text"],
.pf-horizontal input[type="password"],
.pf-horizontal textarea,
.pf-horizontal input[type="number"],
.pf-item.one-col input[type="text"],
.pf-item.one-col input[type="password"],
.pf-item.one-col textarea,
.pf-item.one-col input[type="number"] {
	box-sizing: border-box;
	width: 100%;
}

.pasta-form textarea {
	height: 7em;
	padding: 0.5em;
}


div#head {
	margin-top: 1em;
	margin-bottom: 1.5em;
}
div#head .title {
	font-size: 2.5em;
}

div.link-bar:after {
	content: "";
	display: table;
	clear: both;
}
div.link-bar a {
	display: block;
	float: left;
}
div.link-bar a:not(:last-child) {
	padding-right: 0.5em;
}
div.link-bar a:not(:first-child) {
	padding-left: 0.5em;
}
div.link-bar:not(.no-bars) a:not(:first-child) {
	border-left: 1px solid lightgray;
}

div.tab-bar {
	margin: 1em 0;
	background-color: #DC740E;
}
div.tab-bar:after {
	content: "";
	display: table;
	clear: both;
}
div.tab-bar .tab {
	background-color: #DC740E;
	transition: background 0.2s;
	float: left;
}
div.tab-bar .tab:hover,
div.tab-bar .tab.current {
	background-color: #EDA054;
}
div.tab-bar a {
	color: #333;
	padding: 1em 1em;
	display: block;
	width: 100%;
	height: 100%;
}

.star-required {
	color: #CE1126;
}

.assessment-mark {
	text-align: center;
	font-size: 1.5em;
	width: 2.75em;
	position: relative;
}
.assessment-ungraded {
	font-size: 1.1em;
}
.mark-separator {
	font-size: 0.5em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}

div.star-medal {
	margin-right: 0.3em;
	display: inline-block;
	height: 1em;
}
div.star-medal img {
	height: 100%;
	position: relative;
	top: 0.12em;
}

div.ratingDot {
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
	width: 26px;
}
div.ratingDot.empty {
	background-image: url("../images/rating_dot_empty.png");
}
div.ratingDot.full.r1 {
	background-image: url("../images/rating_dot_1.png");
}
div.ratingDot.full.r2 {
	background-image: url("../images/rating_dot_2.png");
}
div.ratingDot.full.r3 {
	background-image: url("../images/rating_dot_3.png");
}
div.ratingDot.full.r4 {
	background-image: url("../images/rating_dot_4.png");
}
div.ratingDot.full.r5 {
	background-image: url("../images/rating_dot_5.png");
}
.labelEasy {
	color: #080;
}
.labelHard {
	color: #D00;
}
.labelEasy, .labelHard {
	font-weight: bold;
	line-height: 24px;
}
textarea.ratingComment {
	width: 50vw;
	height: 15vh;
	min-width: 200px;
	min-height: 100px;
}

div.unitTestResult {
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-right: 2px;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	cursor: pointer;
}
div.unitTestResult.pass {
	background-color: #0C0;
	border-color: #080;
}
div.unitTestResult.failure, div.unitTestResult.error {
	background-color: red;
	border-color: #800;
}
div.unitTestResult.secret:not(.revealed) {
	background-color: lightgrey;
}
div.unitTestResult.secret:not(.revealed) {
	border-color: #999;
}
div.unitTestResult.revealed.pass {
	background: linear-gradient(to top left, lightgrey 30%, #0C0 30%);
}
div.unitTestResult.revealed.error, div.unitTestResult.revealed.failure {
	background: linear-gradient(to top left, lightgrey 30%, red 30%);
}

div.search-box {
	width: 150px;
	float: right;
	display: inline-block;
	margin-right: 40px;
}
div.search-box input[type='text'] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
	font-size: 1.1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.search-node.not-found {
	display:none;
}

table.moduleTable th {
	text-align: left;
}

textarea.console {
	font-family: monospace;
}
div.consolePreview {
	border: 1px solid lightgray;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 13px;
	overflow: auto;
	padding: 0.5em;
	white-space: pre-wrap;
	width: 100%;
}
div.testCase {
	padding: 0.7em;
}
input.code {
	font-family: monospace;
}
span.icon_toggle_plus, div.icon_toggle_plus {
	background-image: url("../images/toggle_plus.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_toggle_minus, div.icon_toggle_minus {
	background-image: url("../images/toggle_minus.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_delete, div.icon_delete {
	background-image: url("../images/delete.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_delete_confirm, div.icon_delete_confirm {
	background-image: url("../images/delete_confirm.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_undo, div.icon_undo {
	background-image: url("../images/undo.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}