.dragBuffer {
	height:2em;
}

.hidden {
	display:none;
}

div.optionset {
	background-color:#DDF;
}

td.selectedMark {
	background-color:#DDF;
}

.closedAssessment{
	background-color:#DDD;
}

.handMarkingHighlight{
	background-color:#EEE;
}

.tutorHighlight{
	background-color:#EEE;
	font-weight:bold;
}

a:not([href]) {
	cursor:pointer;
}

.largeOutputBox {
	width: 60vw;
	height: 50vh;
	overflow: auto;
}

[id$=".errors"] {
	color: red;
}

h1.compact,h2.compact,h3.compact,h4.compact,h5.compact,h6.compact {
	margin-top: 0px;
}
h1.alt,h2.alt,h3.alt,h4.alt,h5.alt,h6.alt {
	color: #12416C;
}
.vertical-block {
	display: block;
}
.horizontal-block {
	display: inline-block;
}
.horizontal:not(.float-right)+.horizontal:not(.float-right), 
.horizontal-block:not(.float-right) + .horizontal-block:not(.float-right) {
	margin-left: 1em;
}
.horizontal.float-right + .horizontal.float-right,
.horizontal-block.float-right + .horizontal-block.float-right {
	margin-right: 1em;
}
.vertical+.vertical,
.vertical-block+.vertical-block {
	margin-top: 1em;
}
.horizontal:not(.float-right) + .horizontal:not(.float-right).small-gap,
.horizontal-block:not(.float-right) + .horizontal-block:not(.float-right).small-gap {
	margin-left: 0.5em;
}
.horizontal.float-right + .horizontal.float-right.small-gap,
.horizontal-block.float-right + .horizontal-block.float-right.small-gap {
	margin-right: 0.5em;
}
.vertical+.vertical.small-gap,
.vertical-block+.vertical-block.small-gap {
	margin-top: 0.5em;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}
.float-clear {
	clear:both;
}
.float-container {
	overflow:hidden;
}
.padded {
	padding:0.5em;
}
.align-contents-bottom .horizontal-block {
	vertical-align: bottom;
}
.align-contents-middle .horizontal-block {
	vertical-align: middle;
}
.align-contents-top .horizontal-block {
	vertical-align: top;
}

span.expanded-icon {
	font-size: 1.5em;
}

table.alignCellsTop td, table.alignCellsTop th {
	vertical-align: top;
}

table.noGaps {
	border-collapse: collapse;
}
tr.spaceBelow+tr td {
	padding-top: 1.5em;
}
tr.spaceBelow td {
	border-bottom: 1px solid gray;
	padding-bottom: 1.5em;
}

span.help {
	background-image: url("../images/help.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}

span.icon_toggle_plus, div.icon_toggle_plus {
	background-image: url("../images/toggle_plus.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_toggle_minus, div.icon_toggle_minus {
	background-image: url("../images/toggle_minus.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_delete, div.icon_delete {
	background-image: url("../images/delete.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_delete_confirm, div.icon_delete_confirm {
	background-image: url("../images/delete_confirm.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_undo, div.icon_undo {
	background-image: url("../images/undo.png");
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_locked, div.icon_locked {
	background-image: url("../images/padlock_closed.png");
	display: inline-block;
	height: 16px;
	width: 16px;
}
span.icon_unlocked, div.icon_unlocked {
	background-image: url("../images/padlock_open.png");
	display: inline-block;
	height: 16px;
	width: 16px;
}

input[type=checkbox].custom-check {
	display:none;
}
input[type=checkbox].custom-check + label,
input[type=checkbox].custom-check + input[type=hidden] + label { 
	background-image: url("../images/check_box_unchecked.png");
	height: 32px;
	width: 32px;
	display:inline-block;
	padding: 0 0 0 0px;
}
input[type=checkbox].custom-check + label:active,
input[type=checkbox].custom-check + input[type=hidden] + label:active { 
	background-image: url("../images/check_box_unchecked_pressed.png");
}
input[type=checkbox]:checked.custom-check + label,
input[type=checkbox]:checked.custom-check + input[type=hidden] + label {
	background-image: url("../images/check_box_checked.png");
}
input[type=checkbox]:checked.custom-check + label:active,
input[type=checkbox]:checked.custom-check + input[type=hidden] + label:active {
	background-image: url("../images/check_box_checked_pressed.png");
}

table.moduleTable tr.selected {
	background-color:#DDF;
}
table.moduleTable tr.lastSelected td {
	border-bottom: 2px dotted gray;
}

div.boxCard, .box-shadow, div.unitTestResult {
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1),
				0px 2px 10px 0px rgba(0, 0, 0, 0.1);
	margin:4px;
}
div.boxCard {
	padding: 0.6em;
}
div.group-highlight {
   -moz-box-shadow: inset 0 0 1em #12416c;
   -webkit-box-shadow: inset 0 0 1em #12416c;
   box-shadow: inset 0 0 1em #12416c;
   padding: 1em;
}

table.dragRows {
	border-collapse: collapse;
}
table.dragRows td {
	border-style: solid;
	border-color: lightgray;
	border-width: 1px 0px;
}
table.dragRows td:first-child {
	border-width: 1px 0px 1px 1px;
}
table.dragRows td:last-child {
	border-width: 1px 1px 1px 0px;
}

div.star-medal {
	width: 44px;
}
div.star-medal img {
	height: 44px;
	padding: 0px !important;
	width: 100%;
}
div.star-medal + div.float-left {
	max-width:85%;
}

div.ratingDot {
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 !important;
	width: 26px;
}
div.ratingDot.empty {
	background-image: url("../images/rating_dot_empty.png");
}
div.ratingDot.full.r1 {
	background-image: url("../images/rating_dot_1.png");
}
div.ratingDot.full.r2 {
	background-image: url("../images/rating_dot_2.png");
}
div.ratingDot.full.r3 {
	background-image: url("../images/rating_dot_3.png");
}
div.ratingDot.full.r4 {
	background-image: url("../images/rating_dot_4.png");
}
div.ratingDot.full.r5 {
	background-image: url("../images/rating_dot_5.png");
}

textarea.ratingComment {
	width: 50vw;
	height: 15vh;
	min-width: 200px;
	min-height: 100px;
}

div.icon-edit-group {
	background-repeat: no-repeat;
	background-image: url("../images/group-edit.png");
	cursor: pointer;
	height: 32px;
	width: 32px;
}
div.icon-group {
	background-repeat: no-repeat;
	background-image: url("../images/group.png");
	height: 32px;
	width: 32px;
}

div.group.allStudents {
	vertical-align: top;
	width: 30%;
}
div.group.allGroups {
	vertical-align: top;
	width: 60%;
}
div.group.allGroups div.overFull {
	background-color: #FCC;
}
div.group.allGroups div.full {
	background-color: #FFC;
}
div.group.separator {
	display: inline-block;
	font-size: 4em;
	padding-top: 2em;
	text-align: center;
}
div.group td.dataTables_empty {
	font-weight: bold;
}

.handMarkingStudent.didnotsubmit{
	background-color: lightgray;
	cursor: default;
	border-style: solid;
	border-color: white;
}

.handMarkingStudent.submittedfalse{
	background-color: gold;
	border-style: solid;
	border-color: white;
}

.handMarkingStudent.submittedtrue{
	background-color: #0C0;
	border-style: solid;
	border-color: white;
}

.handMarkingStudent.current{
	border-style: outset;
	border-color: #0C0;
}

.handMarkingStudent.submittedfalse.current{
	border-style: outset;
	border-color: gold;
}

.handMarkingStudent{
	width: 1em;
	height: 1em;
	float: left;
	margin: 1px;
	cursor: pointer;
	border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

/* conjunction release rule separation */
div.conjunction {
	padding-left: 0.2em;
	font-size: 1.5em;
	text-transform: uppercase;
}

/* Nested release rule highlighting */
/* '>' selector necessary to add specificity */
div.subRule.first {
	border-left: 2px solid #f5af00;
}
div.first > div > div > div.subRule {
	border-left: 2px solid red;
}
div.first > div > div > div.subRule > div > div > div.subRule {
	border-left: 2px solid #12416c;
}

div.toDelete {
	background-color: lightgray;
}

/** susk-detail */
pre {
	margin: 0;
	white-space: pre-wrap;
}

.pastaQuickFeedback {
	font-size:1.1em;
}

#ui-datepicker-div {
	display: none;
}

.dragtable-drag-handle{
	cursor: move;
}

/*
 * gets wrapped around placeholder table
 */
 
 ul.list{
 	list-style-type: none;
 }
 
 li.list{
 	list-style-type: none;
 }
  
.dragtable-drag-wrapper{
	position: absolute;
    z-index: 1000;
}

.gradeCentreMarkGood{
	background-color: #1FCB4A; 
}

.gradeCentreMarkBad{
	background-color: #FFFFFF; 
}

.gradeCentreMarkNoSub{
	background-color: #FF7575; 

}

 /*
  * this gets applied to the table copy of the col that we are dragging 
  */ 
.dragtable-drag-wrapper .dragtable-drag-col{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor:move;
}

/*
	placeholder is just a name for the real table col
*/
.dragtable-col-placeholder { 
    color:#FFFFFF;
    background: #FFFFFF !important; 
    visibility: visible !important;
}

.dragtable-col-placeholder * { 
    opacity: 0.0; 
    visibility: hidden; 
}

div.unitTestResult {
	width: 1em;
	height: 2em;
	float: left;
	margin: 1px;
	border-style: outset;
	border-width: 3px;
	cursor: pointer;
}


div.unitTestResult.pass {
	background-color: #0C0;
	border-color: #0C0;
}
div.unitTestResult.failure, div.unitTestResult.error {
	background-color: red;
	border-color: red;
}
div.unitTestResult.secret:not(.revealed) {
	background-color: lightgrey;
}
div.unitTestResult.secret, div.unitTestResult.revealed {
	border-color: lightgrey;
}
div.unitTestResult.revealed.pass {
	background: linear-gradient(to top left, lightgrey 30%, #0C0 50%);
}
div.unitTestResult.revealed.error, div.unitTestResult.revealed.failure {
	background: linear-gradient(to top left, lightgrey 30%, red 50%);
}

/* Buttons */

button,smallbutton,#submit,.button {

	cursor: pointer;
	clear: both;
	border: 1px solid #DBD3C2;
	font-weight: bold;
	background-color: #CE1126;
	color: white;
}
button:disabled,smallbutton:disabled,#submit:disabled,.button:disabled {
	border-color: gray;
	background-color: lightgray;
	color: gray;
}
/* button size */
button,#submit,.button {
line-height: 2em;
padding: 3px 20px;
}
button:hover:enabled,#submit:hover:enabled,.button:hover:enabled,smallbutton:hover:enabled {
	border-color: #DBD3C2;
	background-color: #12416C;
}
/* button size and positioning */
smallbutton{
	line-height: 1em;
	padding: 0px 2px;
	margin-left:-.1em; 
	position:relative; 
	top:-.7em;
}
.popup, #released, #newArena
	{
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px 5px #999;
	color: #111;
	display: none;
	padding: 25px;
}

#comfirmPopup {
	min-width: 0px;
}

.bClose {
	border-radius: 7px 7px 7px 7px;
	box-shadow: none;
	font: bold 131% sans-serif;
	padding: 0 6px 2px;
	position: absolute;
	right: -7px;
	top: -7px;
	background-color: #CE1126;
	color: white;
	cursor: pointer;
}

#dialog-overlay { /* set it to fill the whole screen */
	width: 100%;
	height: 100%;
	/* transparency for different browsers */
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background: #000;
	margin: auto;
	/* make sure it appear behind the dialog box but above everything else */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3000;
	/* hide it by default */
	display: none;
}

#dialog-box { /* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	/* css3 border radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width: 328px;
	/* make sure it has the highest z-index */
	position: absolute;
	z-index: 5000;
	/* hide it by default */
	display: none;
}

#dialog-box .dialog-content { /* style the content */
	text-align: left;
	padding: 10px;
	margin: 13px;
	color: #666;
	font-family: arial;
	font-size: 11px;
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight: 700;
	margin: 0;
}

ul#dialog-box ul.dialog-content{
	margin: 10px 0 10px 20px;
	padding: 0;
	height: 50px;
}

.susk-detail {
	margin: 0 auto;
	padding: 15px;
	border: solid 1px #DBD3C2;
	background: #FDFCDE;
}

.pastaTable {
	width: 90%;
}

th.handMarkingTable,td.handMarkingTable {
	table-layout: fixed;
	padding: 15px;
	width: 200px;
	word-wrap: break-word;
}

}
.pastaShortTable {
	border: 1px;
	padding: 0px;
	margin: 0px;
}

td.pastaShortTable{
	width: 1.5em;
	height: 2em;
}

td.cellCenter{
	text-align: center;
}

.pastaTF,.pastaUnitTestResult {
	font-weight: bold;
	text-transform: uppercase;
}

.pastaUnitTestResultpass,.pastaTFtrue {
	color: #0C0;
}

.pastaUnitTestBoxResultpass {
	background-color: #0C0;
	height: 100%;
	width: 100%;
	border-style:outset;
	border-color:#0C0;
}

.pastaTFfalse{
	color: red;
}

.pastaUnitTestResulterror,.pastaUnitTestResultfailure {
	color: red;
}

.labelEasy {
	color: #080;
	font-weight: bold;
}
.labelHard {
	color: #D00;
	font-weight: bold;
}

.pastaUnitTestBoxResultSecretpass{
	background-color: #0C0;
	border-style:outset;
	border-color:lightgray;
}

.pastaUnitTestBoxResultSecret{
	background-color: lightgray;
	border-style:outset;
	border-color:lightgray;
}

.pastaUnitTestResultSecreterror, .pastaUnitTestResultSecretfailure{
	color: red;
	border-style:outset;
	border-color:lightgray;
}

.susk-detail label {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
	width: 140px;
	float: left;
}

.susk-detail span {
	display: block;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
}

.susk-detail-clear {
	clear: both;
	height: 1px;
}

/** Susk-form */
.susk-form {
	margin: 0 auto;
	padding: 15px;
	border: solid 1px #DBD3C2;
	background: #FDFCDE;
}
/*.susk-form p,*/
.susk-form form,.susk-form button {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.susk-form-clear {
	clear: both;
	height: 1px;
}
/*
.susk-form form>p {
	font-size: 0.7em;
	color: #545456;
	margin-bottom: 20px;
	border-bottom: solid 1px #BBBBBB;
	padding-bottom: 10px;
}
/*
.susk-form-h1,.susk-detail-h1 {
	font-size: 1.5em;
	color: #CE1126;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}*/
/*
.susk-form .small {
	font-size: 0.65em;
}*/

.susk-form label {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 2em;
	height: 2em;
	width: 140px;
	float: left;
}
/*
input[type=radio].susk-radio {
	float: left;
	margin: 0px 5px 0px 0px !important;
	width: auto !important;
}

label.susk-radio {
	margin-bottom: 5px;
	width: auto !important;
}

.susk-form-radio {
	margin-left: 150px;
}

.susk-form-radio label {
	float: none;
	width: auto;
	line-height: 16px;
}
*/
/*,.susk-form textarea,.susk-form select*/
.susk-form input {
	padding: 4px 2px;
	border: solid 1px #DDDDDD;
	margin: 2px 0 20px 10px;
	font-size: 12px;
	margin-right: 10px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}

.susk-form input {
	width: 300px;
}
/*
.susk-form button {
	cursor: pointer;
	clear: both;
	border: 1px solid #DBD3C2;
	margin-left: 150px;
	width: 125px;
	height: 2em;
	font-weight: bold;
	background-color: #CE1126;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	text-align: center;
}

.susk-form button:hover {
	border-color: #DBD3C2;
	background-color: #12416C;
}
*/
/** Errors */
.susk-form .susk-form-errors,.susk-form .susk-form-error {
	color: #CE1126;
	font-size: 1.1em;
	line-height: 2em;
	float: left;
}

/** Susk Info Bar */
/*
.susk-info-bar {
	background-color: #fffff4;
	border: 1px solid #999999;
	padding: 0.25em;
	margin-bottom: 0.65em;
}

.susk-info-bar .image {
	background-image: url("../images/icons/24x24/info.png");
	margin-right: 0.25em;
	width: 24px;
	height: 24px;
	float: left;
}

.susk-info-bar .message {
	margin: 0px !important;
	line-height: 2em !important;
}

.susk-info-bar.warning {
	color: #F5AF00;
	border-color: #FDEBC5;
}

.susk-info-bar.warning .image {
	background-image: url("../images/icons/24x24/warning.png");
}

.susk-info-bar.success {
	color: #6dc80d;
	border-color: #6dc80d;
}

.susk-info-bar.success .image {
	background-image: url("../images/icons/24x24/accept.png");
}

.susk-info-bar.error {
	color: #CE1126;
	border-color: #CE1126;
}

.susk-info-bar.error .image {
	background-image: url("../images/icons/24x24/warning_red.png");
}

/* Required */
.star-required {
	color: #CE1126;
}

/* susk-toolbar */
.susk-toolbar {
	line-height: 2em;
}

.susk-toolbar a {
	font-size: 12px;
}
